# Module: Pandas Assignments
## Lesson: Pandas

### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [19]:
import pandas as pd
import numpy as np

In [20]:
# 1.0
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  99  71  18  83
1  89  43  80  26
2  36  44  54  16
3   1  42  90  69
4  95  84  23  35
5  46   5  27  53
DataFrame with new index:
     B   C   D
A
99  71  18  83
89  43  80  26
36  44  54  16
1   42  90  69
95  84  23  35
46   5  27  53

In [21]:
# 2.0
# Create a Dataframe with colums 'A', 'B', 'C' and index 'X', 'Y', 'Z'. 
# Fill the dataframe with random integers and access the element at row 'Y' and column 'B'

df2 = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("DataFrame with custom index:")
print(df2)

# Access the element at row 'Y' and column 'B'
element = df2.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

DataFrame with custom index:
    A   B   C
X  10  77  17
Y  44  31  23
Z  87  31  96
Element at row 'Y' and column 'B': 31

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [22]:
# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. 
# Add a new column that is the product of the first two columns.
df3 = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df3)

# Add a new column 'D' that is the product of columns 'A' and 'B'
df3['D'] = df3['A'] * df3['B']
print("DataFrame after adding new column 'D':")
print(df3)

Original DataFrame:
    A   B   C
0  84  37  75
1  19  16  61
2  53  90  22
3   5  43  39
4  46  99  85
DataFrame after adding new column 'D':
    A   B   C     D
0  84  37  75  3108
1  19  16  61   304
2  53  90  22  4770
3   5  43  39   215
4  46  99  85  4554

In [23]:
# 2.0 Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. 
# Compute the row-wise and column-wise sum.

df4 = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("DataFrame:")
print(df4)

# Compute the row-wise sum
row_sum = df4.sum(axis=1)
print("Row-wise sum:")
print(row_sum)

# Compute the column-wise sum
col_sum = df4.sum(axis=0)
print("Column-wise sum:")
print(col_sum)

DataFrame:
    A   B   C
0  15  41  98
1  23  14  47
2  46  80  14
3  60  37  94
Row-wise sum:
0    154
1     84
2    140
3    191
dtype: int64
Column-wise sum:
A    144
B    172
C    253
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [24]:
# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. 
# Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

df5 = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
df5.loc[1, 'B'] = np.nan
df5.loc[3, 'C'] = np.nan
print("Original DataFrame with NaN values:")
print(df5)

# Fill NaN values with the mean of the respective columns
df5.fillna(df5.mean(), inplace=True)
print("DataFrame after filling NaN values:")
print(df5)

Original DataFrame with NaN values:
    A     B     C
0  24  18.0  63.0
1  64   NaN  70.0
2  50  73.0   9.0
3  60  44.0   NaN
4  77  43.0  70.0
DataFrame after filling NaN values:
    A     B     C
0  24  18.0  63.0
1  64  44.5  70.0
2  50  73.0   9.0
3  60  44.0  53.0
4  77  43.0  70.0

In [25]:
# 2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. 
# Introduce some NaN values. Drop the rows with any NaN values.

df6 = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
df6.loc[1, 'B'] = np.nan
df6.loc[4, 'C'] = np.nan
print("Original DataFrame with NaN values:")
print(df6)

# Drop rows with any NaN values
df6.dropna(inplace=True)
print("DataFrame after dropping rows with NaN values:")
print(df6)

Original DataFrame with NaN values:
    A     B     C   D
0  97  19.0  34.0  32
1  91   NaN  23.0  65
2  49  80.0  93.0   1
3  36  67.0  24.0  63
4  76  15.0   NaN  83
5  72  54.0  76.0  64
DataFrame after dropping rows with NaN values:
    A     B     C   D
0  97  19.0  34.0  32
2  49  80.0  93.0   1
3  36  67.0  24.0  63
5  72  54.0  76.0  64

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [26]:
# 1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' 
# column with random categories ('A', 'B', 'C') and the 'Value' column with random integers.
#  Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

df7 = pd.DataFrame({
    'Category': np.random.choice(['A', 'B', 'C'], size=10),
    'Value': np.random.randint(1, 100, size=10)
})
print("Original DataFrame:")
print(df7)

# Group by 'Category' and compute sum and mean
grouped = df7.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame (sum and mean):")
print(grouped)

Original DataFrame:
  Category  Value
0        B     28
1        C     53
2        B     28
3        A     97
4        B     56
5        A     93
6        A     84
7        A     55
8        C     29
9        A     35
Grouped DataFrame (sum and mean):
          sum       mean
Category
A         364  72.800000
B         112  37.333333
C          82  41.000000

In [27]:
# 2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. 
# Group the DataFrame by 'Category' and compute the total sales for each category.

df8 = pd.DataFrame({
    'Product': np.random.choice(['P1', 'P2', 'P3'], size=10),
    'Category': np.random.choice(['A', 'B', 'C'], size=10),
    'Sales': np.random.randint(1, 100, size=10)
})
print("Original DataFrame:")
print(df8)

# Group by 'Category' and compute total sales
grouped = df8.groupby('Category')['Sales'].sum()
print("Total sales by category:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0      P2        A     45
1      P2        A     99
2      P1        B      2
3      P2        A     77
4      P1        A     98
5      P1        C     57
6      P1        B     49
7      P2        B     13
8      P2        B     54
9      P3        A     32
Total sales by category:
Category
A    351
B    118
C     57
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [28]:
# 1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

df9a = pd.DataFrame({
    'Key': ['A', 'B', 'C'],
    'Value1': [1, 2, 3]
})

df9b = pd.DataFrame({
    'Key': ['B', 'C', 'D'],
    'Value2': [4, 5, 6]
})

merged = pd.merge(df9a, df9b, on='Key', how='outer')
print("Merged DataFrame:")
print(merged)

Merged DataFrame:
  Key  Value1  Value2
0   A     1.0     NaN
1   B     2.0     4.0
2   C     3.0     5.0
3   D     NaN     6.0

In [29]:
# 2. Create two Pandas DataFrames with different columns. 
# Concatenate the DataFrames along the rows and along the columns.

df10a = pd.DataFrame({
    'Key': ['A', 'B', 'C'],
    'Value1': [1, 2, 3]
})

df10b = pd.DataFrame({
    'Key': ['D', 'E', 'F'],
    'Value2': [4, 5, 6]
})

# Concatenate along the rows
row_concat = pd.concat([df10a, df10b], axis=0)
print("Row-wise concatenation:")
print(row_concat)

# Concatenate along the columns
col_concat = pd.concat([df10a, df10b], axis=1)
print("Column-wise concatenation:")
print(col_concat)

Row-wise concatenation:
  Key  Value1  Value2
0   A     1.0     NaN
1   B     2.0     NaN
2   C     3.0     NaN
0   D     NaN     4.0
1   E     NaN     5.0
2   F     NaN     6.0
Column-wise concatenation:
  Key  Value1 Key  Value2
0   A       1   D       4
1   B       2   E       5
2   C       3   F       6

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [30]:
# 1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. 
# Resample the DataFrame to compute the monthly mean of the values.

date_rng = pd.date_range(start='2020-01-01', end='2020-12-31', freq='D')
df11 = pd.DataFrame(date_rng, columns=['date'])
df11['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df11.set_index('date', inplace=True)
print("Original DataFrame:")
print(df11)

# Resample to compute monthly mean
monthly_mean = df11.resample('M').mean()
print("Monthly mean:")
print(monthly_mean)

Original DataFrame:
            data
date
2020-01-01    92
2020-01-02    93
2020-01-03    60
2020-01-04     7
2020-01-05    48
...          ...
2020-12-27    67
2020-12-28    85
2020-12-29    34
2020-12-30     8
2020-12-31    12

[366 rows x 1 columns]
Monthly mean:
                 data
date
2020-01-31  48.129032
2020-02-29  49.965517
2020-03-31  52.548387
2020-04-30  53.000000
2020-05-31  58.774194
2020-06-30  39.633333
2020-07-31  45.741935
2020-08-31  54.225806
2020-09-30  50.233333
2020-10-31  45.032258
2020-11-30  47.000000
2020-12-31  57.000000

C:\Users\Silme Binte\AppData\Local\Temp\ipykernel_552\4065388441.py:12: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df11.resample('M').mean()

In [31]:
# 2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' 
# and one column filled with random integers. Compute the rolling mean with a window of 7 days.

date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df12 = pd.DataFrame(date_rng, columns=['date'])
df12['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df12.set_index('date', inplace=True)
print("Original DataFrame:")
print(df12)

# Compute rolling mean with a window of 7 days
rolling_mean = df12.rolling(window=7).mean()
print("Rolling mean (7 days):")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01     1
2021-01-02    71
2021-01-03    79
2021-01-04    85
2021-01-05    72
...          ...
2021-12-27    58
2021-12-28    65
2021-12-29    94
2021-12-30    73
2021-12-31    90

[365 rows x 1 columns]
Rolling mean (7 days):
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  56.285714
2021-12-28  63.571429
2021-12-29  73.000000
2021-12-30  79.571429
2021-12-31  79.285714

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [32]:
# 1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). 
# Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

arrays = [
    ['A', 'A', 'B', 'B'],
    ['one', 'two', 'one', 'two']
]
index = pd.MultiIndex.from_arrays(arrays, names=('letters', 'numbers'))
df13 = pd.DataFrame({'data': [1, 2, 3, 4]}, index=index)
print("Original DataFrame:")
print(df13)

# Basic indexing
print("Data for letter 'A':")
print(df13.loc['A'])

# Slicing
print("Data for letters 'A' and 'B':")
print(df13.loc[['A', 'B']])

Original DataFrame:
                 data
letters numbers
A       one         1
        two         2
B       one         3
        two         4
Data for letter 'A':
         data
numbers
one         1
two         2
Data for letters 'A' and 'B':
                 data
letters numbers
A       one         1
        two         2
B       one         3
        two         4

In [33]:
# 2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values 
# for each 'Category' and 'SubCategory'.

# Create MultiIndex
arrays = [
    ['A', 'A', 'B', 'B'],
    ['one', 'two', 'one', 'two']
]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))

# Create DataFrame with random values
df14 = pd.DataFrame({'Values': np.random.randint(1, 10, size=4)}, index=index)
print("Original DataFrame:")
print(df14)

# Sum by Category
category_sum = df14.groupby(level='Category').sum()
print("\nSum for each Category:")
print(category_sum)

# Sum by SubCategory
subcategory_sum = df14.groupby(level='SubCategory').sum()
print("\nSum for each SubCategory:")
print(subcategory_sum)

Original DataFrame:
                      Values
Category SubCategory
A        one               4
         two               9
B        one               4
         two               5

Sum for each Category:
          Values
Category
A             13
B              9

Sum for each SubCategory:
             Values
SubCategory
one               8
two              14

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [34]:
# 1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. 
# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df15 = pd.DataFrame(date_rng, columns=['Date'])
df15['Category'] = np.random.choice(['A', 'B', 'C'], size=(len(date_rng)))
df15['Value'] = np.random.randint(1, 100, size=(len(date_rng)))
print("Original DataFrame:")
print(df15)

# Create pivot table
pivot_table = df15.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum', fill_value=0)
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
          Date Category  Value
0   2021-01-01        B      1
1   2021-01-02        B     71
2   2021-01-03        A     38
3   2021-01-04        B     83
4   2021-01-05        B     99
..         ...      ...    ...
360 2021-12-27        A     30
361 2021-12-28        C     82
362 2021-12-29        C     45
363 2021-12-30        A     19
364 2021-12-31        B     74

[365 rows x 3 columns]
Pivot Table:
Category     A   B   C
Date
2021-01-01   0   1   0
2021-01-02   0  71   0
2021-01-03  38   0   0
2021-01-04   0  83   0
2021-01-05   0  99   0
...         ..  ..  ..
2021-12-27  30   0   0
2021-12-28   0   0  82
2021-12-29   0   0  45
2021-12-30  19   0   0
2021-12-31   0  74   0

[365 rows x 3 columns]

In [35]:
# 2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. 
# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df16 = pd.DataFrame(date_rng, columns=['Date'])
df16['Year'] = df16['Date'].dt.year
df16['Quarter'] = df16['Date'].dt.to_period('Q')
df16['Revenue'] = np.random.randint(1000, 5000, size=(len(date_rng)))
print("Original DataFrame:")
print(df16)

# Create pivot table
pivot_table = df16.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean', fill_value=0)
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
          Date  Year Quarter  Revenue
0   2021-01-01  2021  2021Q1     2366
1   2021-01-02  2021  2021Q1     2098
2   2021-01-03  2021  2021Q1     3297
3   2021-01-04  2021  2021Q1     2812
4   2021-01-05  2021  2021Q1     2462
..         ...   ...     ...      ...
360 2021-12-27  2021  2021Q4     2890
361 2021-12-28  2021  2021Q4     2708
362 2021-12-29  2021  2021Q4     4988
363 2021-12-30  2021  2021Q4     2451
364 2021-12-31  2021  2021Q4     1371

[365 rows x 4 columns]
Pivot Table:
Quarter       2021Q1       2021Q2       2021Q3   2021Q4
Year
2021     2896.644444  2962.934066  3119.173913  2983.25

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [36]:
# 1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. 
# Apply a function that doubles the values of the DataFrame.

df17 = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df17)

# Apply function to double the values
df17_doubled = df17.apply(lambda x: x * 2)
print("Doubled DataFrame:")
print(df17_doubled)

Original DataFrame:
    A   B   C
0   9  19  75
1  24  16  91
2  92  41  34
3  13   3  55
4  86  43  90
Doubled DataFrame:
     A   B    C
0   18  38  150
1   48  32  182
2  184  82   68
3   26   6  110
4  172  86  180

In [37]:
# 2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. 
# Apply a lambda function to create a new column that is the sum of the existing columns.

df18 = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df18)

# Apply lambda function to create new column
df18['Sum'] = df18.apply(lambda x: x.sum(), axis=1)
print("DataFrame with Sum column:")
print(df18)

Original DataFrame:
    A   B   C
0  44   9  91
1  91  10  51
2  67  91  90
3  59  59  79
4  77  42   2
5  61  22  66
DataFrame with Sum column:
    A   B   C  Sum
0  44   9  91  144
1  91  10  51  152
2  67  91  90  248
3  59  59  79  197
4  77  42   2  121
5  61  22  66  149

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [38]:
# 1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
text_series = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_series)

# Convert to uppercase
upper_series = text_series.str.upper()
print("Uppercase Series:")
print(upper_series)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

In [39]:
# 2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.
text_series = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_series)

# Extract first three characters
first_three = text_series.str[:3]
print("First Three Characters:")
print(first_three)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
First Three Characters:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object